<div class="container mt-5 ">
  <div class="d-flex justify-content-between align-items-center">
  <h2 >Renew Jwt Token  </h2>
  <svg  xmlns="http://www.w3.org/2000/svg" (click)="gotohomePage()" style="cursor: pointer;" width="25"  height="25"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevrons-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11 7l-5 5l5 5" /><path d="M17 7l-5 5l5 5" /></svg>
</div>
  <form class="mt-4" [formGroup]="authForm" (ngSubmit)="renewAuthToke()">
    <div class="mb-3">
    <label class="form-label">Referesh Token:</label>
    <textarea formControlName="refresh_token" rows="4" type="text"  class="form-control" placeholder="Enter Referesh Token " required > </textarea>
    <small class="text-danger" *ngIf="authForm.controls['refresh_token'].invalid && authForm.controls['refresh_token'].touched">
      Referesh token is required
    </small>
   </div>
   <div class="mb-3">
    <label class="form-label">Ip Address :</label>
    <input formControlName="ip" type="text" class="form-control" placeholder="Enter Ip address" required />
    <small class="text-danger" *ngIf="authForm.controls['ip'].invalid && authForm.controls['ip'].touched">
      Ip Address is required
    </small>
</div>
 <div class="mb-3">
    <label class="form-label">User Agent:</label>
    <input formControlName="useragent" rows="4" type="text" class="form-control" placeholder="Enter user Agent" required />
    <small class="text-danger" *ngIf="authForm.controls['useragent'].invalid && authForm.controls['useragent'].touched">
       User agent is required
    </small>
</div>
    

    <button type="submit" class="btn btn-primary">Renew Auth Token</button>
  </form>
  <div *ngIf="responseData">
    <h3>Response:</h3>
    <pre>{{ responseData | json }}</pre>
  </div>
</div>