
<div *ngIf="appdata; else loading" class="container">
    <div  class="d-flex justify-content-between mt-5 mb-4 " >
    <h1 class="">App Details</h1>
    
  
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Toggle dropdown
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="goToPubKey()">Go to a pub key</button>
          <button ngbDropdownItem (click)="goToGenerate()">Generate signed auth </button>
          <button ngbDropdownItem (click)="goToVerify()">Verify token</button>
          <button ngbDropdownItem (click)="goToRenew()">Renew Token </button>
          <button ngbDropdownItem (click)="goToRetrive()">Retrive Active Token </button>
          <button ngbDropdownItem (click)="goToLogout()">Go to Logout </button>
        </div>
      </div>
      </div>
    
    <table class="table table-striped table-bordered table-responsive-sm ">
    
      <tbody>
        <tr>
          <td>Id</td>
          <td>{{appdata.id}}</td>
        </tr>   
        <tr>
            <td>Name</td>
            <td>{{appdata.name}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{appdata.description}}</td>
          </tr>
          <tr>
            <td>Token Expiry</td>
            <td>{{appdata.token_expiry}}</td>
          </tr>
          <tr>
            <td>Token Not Before</td>
            <td>{{appdata.token_notbefore}}</td>
          </tr>
          <tr>
            <td>Refersh Expiry</td>
            <td>{{appdata.refresh_expiry}}</td>
          </tr>
          <tr>
            <td>Refersh Not Before </td>
            <td>{{appdata.refresh_notbefore}}</td>
          </tr>
          <tr>
            <td>Key Type </td>
            <td>{{appdata.key_type}}</td>
          </tr>
          <tr>
            <td>Algorithm </td>
            <td>{{appdata.algo}}</td>
          </tr>
          <tr>
            <td>Rotation Period </td>
            <td>{{appdata.rotation_period}}</td>
          </tr>
          <tr>
            <td>Add Time </td>
            <td>{{appdata.add_time}}</td>
          </tr>
          <tr>
            <td>Update Time </td>
            <td>{{appdata.update_time}}</td>
          </tr>
          <tr>
            <td>Last Key Rotate </td>
            <td>{{appdata.last_key_rotate}}</td>
          </tr>
      </tbody>
    </table>
  </div>
  
  
  <ng-template #loading>
    <p>Loading App Data...</p>
  </ng-template>

  